// Vertical Align //

@mixin vertical-align {
    position: relative;
    top: -50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

// Placeholder //

@mixin placeholder($color: $placeholder-text) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

// Card shaddows //

@mixin box_shadow ($level) {
  @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        z-index: $level;
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        z-index: $level;
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        z-index: $level;
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        z-index: $level;
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        z-index: $level;
    }
}

// UI Switch //

@mixin size($size) {
    $height: nth($size, 1);
    $width: $height;

    @if length($size) > 1 {
        $height: nth($size, 2);
    }

    @if $height == auto or (type-of($height) == number and not unitless($height)) {
        height: $height;
    }

    @if $width == auto or (type-of($width) == number and not unitless($width)) {
        width: $width;
    }
}
  
@mixin linear-gradient($rotation, $stops...) {
    @include background-image(linear-gradient($rotation, $stops));
}

%uiswitch {
    @include box-sizing(border-box);
    @include appearance(none);
    @include size(51px 31px);
    position: relative;
    border-radius: 16px;
    cursor: pointer;
    outline: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $uiswitch-active-tint;
    @include transition-duration(600ms);
    @include transition-timing-function(ease-in-out);

    // Background
    &::before {
        @include box-sizing(border-box);
        @include size(47px 27px);
        content: ' ';
        position: absolute;
        left: 2px;
        top: 2px;
        background-color: $uiswitch-off-tint;
        border-radius: 16px;
        z-index: 1;
        @include transition-duration(300ms);
        @include transform(scale(1));
    }

    // Thumb
    &::after {
        @include box-sizing(border-box);
        @include size(27px);
        content: ' ';
        position: absolute;
        border-radius: 27px;
        background: $uiswitch-thumb-tint;
        z-index: 2;
        top: 2px;
        left: 2px;
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25),
                    0px 4px 11px 0px rgba(0,0,0,0.08),
                    -1px 3px 3px 0px rgba(0,0,0,0.14);
        @include transition(transform 300ms, width 280ms);
        @include transform(translate3d(0, 0, 0));
        @include transition-timing-function(cubic-bezier(0.42, 0.800, 0.58, 1.2));
    }

    // Background tint for ON state
    &:checked {
        @include linear-gradient(-180deg, $uiswitch-on-tint-start 0%, $uiswitch-on-tint-end 100%);
    }

    // Thumb for ON state
    &:checked::after {
        @include transform(translate3d(16px, 0, 0));
        right: 18px;
        left: inherit;
    }

    // Thumb for active state
    &:active::after {
        width: 35px;
    }

    &:checked::before,
    &:active::before {
        @include transform(scale(0));
    }

    // Disabled
    &:disabled {
        opacity: 0.5;
        cursor: default;
        @include transition(none);

        &:active::before,
        &:active::after,
        &:checked:active::before,
        &:checked::before {
            width: 27px;
            @include transition(none);
        }

        &:active::before {
            @include size(41px 27px);
            @include transform(translate3d(6px, 0, 0));
        }

        &:checked:active::before {
            @include size(27px);
            @include transform(scale(0));
        }
    }
}

@mixin uiswitch($on-tint: $uiswitch-on-tint,
                $thumb-tint: $uiswitch-thumb-tint,
                $off-tint: $uiswitch-off-tint,
                $active-tint: $uiswitch-active-tint) {

    @extend %uiswitch;
    background-color: $active-tint;

    $on-tint-start: $on-tint;
    $on-tint-end: desaturate($on-tint-start, 1);

    &::before {
        background-color: $off-tint;
    }

    &::after {
        background: $thumb-tint;
    }

    &:checked {
        @include linear-gradient(-180deg, $on-tint-start 0%, $on-tint-end 100%);
    }

}