@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// design pallets:
$primary-color:            #FFF;
$secondary-color:          #000;
$primary-accent-color:     #E9322A;
$secondary-accent-color:   #02A54F;
$special-accent-color:     #f5f5f5;

// fonts
$primary-font:         'scala-sans', sans-serif;
$secondary-font:       'scala-sans-bold', sans-serif;
$digital-font:         'digital-7', sans-serif;